@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#3C4767;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}

/*
topのプルダウンメニュー作成
*/
.nav-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-wrapper h1 {
    flex-basis: 80%;
}

.imgbox {
    flex-basis: 20%;
    position: absolute;
    top: 30px;
    right: 30px;
}

/* プロフィール写真丸み */
.imgbox img {
    width: 25%;
    border-radius: 100px;
    margin-bottom: 100px;
}

.imgbox p {
    display: flex;
}

.neko {
    position: relative;
}

/* ここ */
.menu-list {
    position: absolute;
    right: 0;
    top: 4.5em;
    display: none;
  }

.menu-item {
    border: #3C4767 1px solid;
    text-align: center;
}

.menu-item a:hover {
    background-color: orange;
}

.menu-item a {
    padding: 16px 32px;
    background-color: white;
    color: black;
    z-index: 10;
    display: block;
}

   .form-group {
    display: none;
   }

   /*
   くの字ボタン
   */
   .Arrow-Top {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-left: black 1px solid;
    border-bottom: black 1px solid;
    transform: rotate(316deg);
    margin: 0 8px;
}

/* 投稿リストの枠 */
/* .btn-primary {
    border: #3C4767 1px solid;
    text-align: center;
} */