@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#3C4767;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}

/*
topのプルダウンメニュー作成
*/

.menu-trigger {
    position: relative;
}

.menu-trigger::before,
.menu-trigger::after {
    position: absolute;
    content: '';
    pointer-events: none;
}

.menu-trigger::before {
    display: inline-block;
    right: 0;
    width: 2.8em;
    height: 2.8em;
    border-radius: 0 3px 3px 0;
    background-color: #2589d0;
}

.menu-trigger::after {
    position: absolute;
    top: 50%;
    right: 1.4em;
    transform: translate(50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}

.menu-trigger select {
    appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em 3.6em .4em .8em;
    border: none;
    border-radius: 3px;
    background-color: #e6edf3;
    color: #333;
    font-size: 1em;
    cursor: pointer;
}

/* hi */
